<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>a</title>
</head>
<body>
	<h1>Menu de la Calculadora</h1>
	<ul>
		<li><a href="calculoSuma?num1=150&num2=300">Sumar</a></li>
		<li><a href="calculoResta?num1=500&num2=200">Resta</a></li>
		<li><a href="calculoMultiplicacion?num1=8&num2=4">Multiplicacion</a></li>
		<li><a href="calculoDivision?num1=240&num2=12">Division</a></li>
		<li><a href="calculoPotencia?num1=5&num2=2">Potencia</a></li>
		<li><a href="calculoRaiz?num1=25&num2=2">Raiz</a></li>
	</ul>
</body>
</html>